In [1]:
import math
import numpy as np
import pandas as pd
from operator import add

In [2]:
#if API is given then density of liquid  is
API=float(input('API='))
sp_gr=141.5/(131.5+API)
density_liq=sp_gr*62.4
density_liq # use this value in density_liq below

API=40

51.48454810495627

In [ ]:
#if API is not given only sp.gr is given then use this for density_liq
float(input(sp_gr))
density_liq=sp_gr*62.4

In [3]:
#use this number only when temperature is given Franheit
temp=float(input('temperatur(F)='))
temp_rankine=temp+460
temp_rankine #substitue numeric value in temperature below

temperatur(F)=60

520.0

In [4]:
gas_flow=float(input('gas_flow(MMscf/day)='))
oil_flow=float(input('oil flow rate(BPD)='))
density_gas=float(input('density_gas(lb/ft3)='))
density_liq=float(input('density_liq(lb/ft3)='))
pressure=float(input('pressure(psi)='))
drop_size=float(input('drop_size(micron)='))
temperature=float(input('temperature(rankine)='))
Cd=float(input('Cd='))
compress_factor=float(input('compress_factor='))
time=float(input('time(min)='))

gas_flow(MMscf/day)=10
oil flow rate(BPD)=2000
density_gas(lb/ft3)=3.71
density_liq(lb/ft3)=51.45
pressure(psi)=1000
drop_size(micron)=140
temperature(rankine)=520
Cd=0.871
compress_factor=0.85
time(min)=3

In [5]:
diameter=[]
n = int(input("Enter number of diameters : ")) 
for i in range(0, n): 
    ele= int(input()) 
    diameter.append(ele)
print(diameter)

Enter number of diameters : 7
16
20
26
30
36
42
48
[16, 20, 26, 30, 36, 42, 48]

In [6]:
a=(temperature*compress_factor*gas_flow/pressure)
b=[(density_gas/(density_liq-density_gas))*(Cd/drop_size)]
c=float(np.power(b,1/2))
dLeff=420*a*c
dLeff

40.81900055372839

In [7]:
diameter=[float(i) for i in diameter]
Leff_gas=[]
for i in diameter:
    Leff=dLeff/i
    Leff_gas.append(Leff)
Lss_gas=[]
for i in range(0,len(diameter)):
    Lss=Leff_gas[i]+diameter[i]/12.0
    Lss_gas.append(Lss)
sr_gas=[]
for i in range(0,len(Lss_gas)):
    sr=12.0*Lss_gas[i]/diameter[i]
    sr_gas.append(sr)

In [8]:
d2Leff=oil_flow*time/0.7
d2Leff
Leff_liquid=[]
for i in range(0,len(diameter)):
    Leff_liq=d2Leff/(diameter[i])**2
    Leff_liquid.append(Leff_liq)
Lss_liquid=[]
for i in range(0,len(diameter)):
    Lss_liq=(4.0/3.0)*Leff_liquid[i]
    Lss_liquid.append(Lss_liq)
sr_liquid=[]
for i in range(0,len(diameter)):
    sr_liq=12.0*Lss_liquid[i]/diameter[i]
    sr_liquid.append(sr_liq)

In [54]:
output=pd.DataFrame([diameter,Leff_gas,Leff_liquid,Lss_liquid,sr_gas,sr_liquid]).transpose()
output.columns=['diameter','Leff_gas','Leff_liquid','Lss_liquid','sr_gas','sr_liquid']
output

   diameter  Leff_gas  Leff_liquid  Lss_liquid    sr_gas  sr_liquid
0      16.0  2.551188    33.482143   44.642857  2.913391  33.482143
1      20.0  2.040950    21.428571   28.571429  2.224570  17.142857
2      26.0  1.569962    12.679628   16.906171  1.724598   7.802848
3      30.0  1.360633     9.523810   12.698413  1.544253   5.079365
4      36.0  1.133861     6.613757    8.818342  1.377954   2.939447
5      42.0  0.971881     4.859086    6.478782  1.277680   1.851081
6      48.0  0.850396     3.720238    4.960317  1.212599   1.240079

In [55]:
required_dia=output.round({'sr_liquid':0})
required_dia

   diameter  Leff_gas  Leff_liquid  Lss_liquid    sr_gas  sr_liquid
0      16.0  2.551188    33.482143   44.642857  2.913391       33.0
1      20.0  2.040950    21.428571   28.571429  2.224570       17.0
2      26.0  1.569962    12.679628   16.906171  1.724598        8.0
3      30.0  1.360633     9.523810   12.698413  1.544253        5.0
4      36.0  1.133861     6.613757    8.818342  1.377954        3.0
5      42.0  0.971881     4.859086    6.478782  1.277680        2.0
6      48.0  0.850396     3.720238    4.960317  1.212599        1.0

In [56]:
required_diameter=required_dia[(required_dia.sr_liquid>=3)&(required_dia.sr_liquid<=4)]
required_diameter

   diameter  Leff_gas  Leff_liquid  Lss_liquid    sr_gas  sr_liquid
4      36.0  1.133861     6.613757    8.818342  1.377954        3.0